nav {
    background-color: #bebaba;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Align options to the right */
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 10px; /* Add left margin for spacing */
  }
  
  li:first-child {
    margin-left: 0; /* Remove margin for the first option */
  }
  
  li:before {
    content: "\2022";
    margin-right: 5px;
  }
  
  .navbar-options {
    margin-left: auto; /* Push options to the right */
  }
  